<footer class="text-center text-lg-start bg-light text-muted mt-5 pt-3">

  <!-- siga-nos no github -->
  <section class="d-flex justify-content-center pt-2">
    <div class="pr-2 d-none d-lg-block">
      <h6>Siga-nos no GitHub</h6>
    </div>

    <div>
      <a class="logos" href="https://github.com/projeto-amei" target="_blank">
        <img class="tm-social" src="../../assets/github.png" width="28" alt="logo do github">
      </a>
    </div>
  </section>

  <hr>

  <!-- colunas -->
  <section class="pb-2">
    <div class="container text-center text-md-start mt-2">
      <div class="row mt-3">

        <div class="col-md-4">
          <h6>aMEI</h6>
          <p>A primeira rede social dedicada ao Microempreendedor Individual.</p>
        </div>

        <div class="col-md-4">
          <h6>Links úteis</h6>
          <p><a href="https://www.gov.br/empresas-e-negocios/pt-br/empreendedor/quero-ser-mei" class="text-reset"
              target="_blank">Portal do Empreendedor</a></p>
          <p><a class="text-reset" routerLink="/registrar">Gestão Financeira</a></p>
          <p><a href="https://brazil.generation.org" class="text-reset" target="_blank">Generation Brasil</a></p>
        </div>

        <div class="col-md-4">
          <h6>Contato</h6>
          <p>São Paulo, Brasil</p>
          <p>pi.do.grupo4@gmail.com</p>
        </div>

      </div>
    </div>
  </section>

  <!-- copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright: <a class="text-reset fw-bold" href="https://github.com/projeto-amei" target="_blank">Projeto
      aMEI</a>
  </div>

</footer>