<head>
  <title>My Awesome Login Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body>
  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted mt-5">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center pt-2">
      <!-- Left -->
      <div class="me-3 p-2 d-none d-lg-block">
        <span>Siga-nos no GitHub:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a class="logos " href="https://github.com/projeto-amei" target="_blank">
          <img class="tm-social" src="../../assets/github.png" width="28" alt="logo do github">
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-2">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Projeto aMEI
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Início
            </h6>
            <p>
              <a href="#!" class="text-reset">Sobre Nós</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Login</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Cadastrar-se</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Perguntas Frequentes</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Links úteis
            </h6>
            <p>
              <a href="#!" class="text-reset">Como criar a MEI?</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Gestão Financeira</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Generation Brasil</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="justify-content-between text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home"></i> São Paulo, Brasil</p>
            <p>
              <i class="fas fa-envelope"></i>
              pi.do.grupo4@gmail.com
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://github.com/projeto-amei">Projeto aMEI</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->