<!-- formulario de contato -->
<div class="col-md-12"><!--inicia posicionamento dos elementos-->
<div class="row" id="contato">
  <div class="col-md-12 p-5">
    <h1 class="display-1 text-center mt-5 mb-3 ">
      Contato
    </h1>
  </div>
</div>

<div class="row mb-5 d-flex align-items-center">
  <div class="col-md-6 p-5">
    <h4 class="text-center mt-5 mb-3 ">Mande uma mensagem para nós</h4>
    <form>
      <div class="form-group ">
        <label for="exampleFormControlInput1">E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
      </div>


      <div class="form-group mt-4">
        <label for="exampleFormControlTextarea1">Assunto:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group d-flex">
        <button class="btn btn-outline-success mt-3">Enviar</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 p-5">
    <h4 class="text-center mt-5 mb-3 ">Nossa Localização</h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.212492017222!2d-46.
      69780398502362!3d-23.488854584718975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce
      f9b182c26add%3A0x3b07b2ce3fbf9665!2sR.%20Jo%C3%A3o%20Pereira%20de%20Andrade%2C%20203%20-%20Chac
      ara%20Nossa%20Sra.%20Aparecid%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2002802-080!5e0!3m2!1spt-BR!2sb
      r!4v1626915036138!5m2!1spt-BR!2sbr" class="w-100" width="400" height="250" style="border:0;" allowfullscreen=""
      loading="lazy"></iframe>
  </div>
</div>
</div><!--fecha posicionamento dos elementos-->
<!-- /formulario de contato -->