<div class="container-fluid justify-content-center d-flex">
  <div class="contact-form" id="contato">

    <form action="https://api.staticforms.xyz/submit" method="POST">
      <h3>Envie-nos uma mensagem</h3>
      <div class="row">

        <input type="hidden" name="accessKey" value="cf951603-891c-4737-bafe-80ffc8552d1b">

        <div class="col-md-7">
          <div class="form-group">
            <input type="text" name="name" id="inputNome" class="form-control input-search" placeholder="seu nome*" />
          </div>
          <div class="form-group">
            <input type="email" name="email" id="inputEmail" class="form-control input-search" placeholder="seu e-mail*" />
          </div>
          
          <div class="form-group">
            <input class="btnContact" type="submit" value="Enviar" />
          </div>
        </div>

        <div class="col-md-5">
          <div class="form-group">
            <textarea name="message" class="form-control input-search" id="textareaMensagem" placeholder="sua mensagem*"
              style="width: 270px; height: 160px;"></textarea>
          </div>
        </div>

      </div>
    </form>

  </div>
</div>
