<div class="row flex-nowrap justify-content-between align-items-center pt-4">
  <div class="col-4 pt-1">
  </div>
  <div class="col-4 text-center align-items-center">
    <a class="text-muted" href="#"><img src="../../assets/img/logo-svg.svg" height="80px" width="220px"></a>
  </div>
  <div class="col-4 d-flex justify-content-end align-items-center">
  </div>
</div>

<div class="m-3 container-fluid d-flex  align-items-center justify-content-center">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6" id="img-bg"></div>
    <div class="col-md-6">
      <div class="col-md-6 bg-wh">
        <div class="row d-flex justify-content-center">
          <div class="col-md-8">
            <div class="formulario border shadow" id="myDiv">

              <form *ngIf="step == 1">
                <h2>Dados Pessoais</h2>
                <input [(ngModel)]='user.nome' class="form-control p-2" type="text" name="nome" id="nome"
                  placeholder="Nome">

                <input [(ngModel)]='user.sobrenome' class="form-control mt-2 p-2" type="text" name="sobrenome"
                  id="sobrenome" placeholder="Sobrenome">

                <input [(ngModel)]='user.dataNascimento' class="form-control mt-2 p-2" type="date" name="dataNascimento"
                  id="dataNascimento">


                <textarea [(ngModel)]='user.descricaoPerfil' id="descricaoPerfil" name="descricaoPerfil"
                  class="form-control mt-2 p-2" rows="2" placeholder="Conte um pouco sobre você"></textarea>

                <div class="btn-box">
                  <button type="button" class="btn-secondary" routerLink='/entrar'>Cancelar</button>
                  <button type="submit" id="Next1" class="btn-success" (click)="next()">Próximo</button>
                </div>

                <hr class="mb-2">
                <p class="text-center">Já tem uma conta?<a routerLink='/entrar'> Entrar</a></p>

              </form>

              <form id="Form2" *ngIf="step == 2">
                <h2>Dados Pessoais</h2>
                <input [(ngModel)]='user.razaoSocial' class="form-control mt-2 p-2" type="text" name="razaoSocial"
                  id="razaoSocial" placeholder="Razão Social">

                <input [(ngModel)]='user.foto' class="form-control mt-2 p-2" type="text" name="foto" id="foto"
                  placeholder="Link da sua foto (opcional)">

                <input [(ngModel)]='user.email' class="form-control mt-2 p-2" type="mail" name="email" id="email"
                  placeholder="E-mail">

                <input (input)='confirmSenha($event)' class="form-control mt-2 p-2" type="password" name="senha"
                  id="senha" placeholder="Digite sua senha">

                <input [(ngModel)]='user.senha' class="form-control mt-2 p-2" type="password" name="senhaConfirma"
                  id="senhaConfirma" placeholder="Confirme sua senha">

                <div class="btn-box">
                  <button type="button" id="Back1" class="btn-secondary" (click)="back()">Anterior</button>
                  <button type="button" id="Next2" class="btn-success" (click)="next()">Próximo</button>
                </div>

                <hr class="mb-2">
                <p class="text-center">Já tem uma conta?<a routerLink='/entrar'> Entrar</a></p>
              </form>

              <form id="Form3" *ngIf="step == 3">
                <h2>Dados para Contato</h2>
                <input [(ngModel)]='user.numero' class="form-control" type="number" name="numero" id="numero"
                  placeholder="Digite seu número">

                <input [(ngModel)]='user.linkedin' class="form-control mt-2 p-2" type="text" name="linkedin"
                  id="linkedin" placeholder="Link do seu LinkedIn (opcional)">

                <input [(ngModel)]='user.github' class="form-control mt-2 p-2" type="text" name="github" id="github"
                  placeholder="Link do seu Github (opcional)">

                <div class="btn-box">
                  <button type="button" id="Back2" class="btn-secondary" (click)="back()">Anterior</button>
                  <button type="button" type="submit" class="btn-success" (click)='cadastrar()'>Cadastrar</button>
                </div>

                <hr class="mb-2">
                <p class="text-center">Já tem uma conta?<a routerLink='/entrar'> Entrar</a></p>
              </form>

            </div>

          </div>
        </div>
      </div>