#img-bg {
  background-image: url(src\assets\img\registerImg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 40rem;
  height: 40rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formulario {
  width: 420px;
  height: 592px;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 0px;
  position: relative;
}

.formulario form {
  width: 340px;
  position: absolute;
  top: 100px;
  left: 40px;
  transition: 0.5s;
}

::placeholder {
  color: #999;
}

input {
  color: #999;
}

form input, textarea {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;  
  border: 1;
  outline: none;
}

.btn-box {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

form button {
  width: 110px;
  height: 35px;
  margin: 0 10px;
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.step-row {
  width: 420px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 0px 5px -2px #000;
  position: relative;
}

.step-col {
  width: 220px;
  text-align: center;
  color: #333;
  position: relative;
}

fieldset:not(:first-of-type) {
  display: none;
}