#img-bg {
  background-color:#fff;

  height:975px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-cz {
  background-color:#eee;

}

.bg-wh {
  background-color:#fff;
}

.fs-18 {
  font-size: 25px;
}
