.bg-laranja {
  background-color:#ff922e  !important;
  border-color: #ff922e !important;
}

.text-laranja {
  color:#ff922e;

}

.circle {
  border-radius: 50px;
}

input, button, select {
  border-radius: 100px !important;
}

textarea {
  padding: 18px !important;
  border-radius: 16px !important;
}


