<head>
<title>aMEI</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    
<app-menu-feed></app-menu-feed>

  <!-- inicia Texto e imagem -->
  <div class="container">
  <div class="row mt-5 mb-5 align-items-center">
    <div class="col-md-7">
        <h1 class="w3-text-teal">Central de Dicas</h1>
        <h4>Encontre artigos, dicas, tutorias e vídeos para impulsionar o seu negócio ou serviço!</h4>
      </div>
      <div class="w3-third w3-container">
        <figure>
            <img src="assets/Business Plan-amico.png" width="550" height="550">
        </figure>
      </div>
    </div>
</div>
  <!-- fecha Texto e imagem -->

<!-- inicia Cards 1 -->
<div class="row mt-5 d-flex justify-content-center">
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/Artist-cuate.png">
        <div class="card-body"><h5>Artigos</h5>
          <p class="card-text"> 
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, molestiae soluta consequuntur rem perferendis
            perspiciatis explicabo numquam maiores asperiores, fugiat atque nihil, itaque natus repellat animi
            exercitationem enim. Voluptatem, harum?
          </p>
          <button type="button" class="btn btn-outline-success">
            <a href="" target="_blank">Leia Mais</a>
        </button>
        </div>
      </div> <!-- fecha primeiro card -->

      <div class="card">
        <img class="card-img-top" src="assets/City driver-pana.png">
        <div class="card-body"><h5>Dicas</h5>
          <p class="card-text"> 
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, molestiae soluta consequuntur rem perferendis
            perspiciatis explicabo numquam maiores asperiores, fugiat atque nihil, itaque natus repellat animi
            exercitationem enim. Voluptatem, harum?
          </p>
          <button type="button" class="btn btn-outline-success">
            <a href="" target="_blank">Leia Mais</a>
        </button>
        </div>
      </div> <!-- fecha segundo card -->

      <!--abre ADSs-->
      <div class="w3-third w3-container">
        <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
        <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
      </div>
      
      <!--fecha ADSs-->

    </div><!--fecha card deck-->
  </div><!--fecha container -->
</div><!--fecha row-->

<!-- fecha Cards 1-->


<!--inicia cards 2 -->

<div class="row mt-5 d-flex justify-content-center">
    <div class="container">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="assets/Work time-bro.png">
            <div class="card-body"><h5>Tutoriais</h5>
              <p class="card-text"> 
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, molestiae soluta consequuntur rem perferendis
                perspiciatis explicabo numquam maiores asperiores, fugiat atque nihil, itaque natus repellat animi
                exercitationem enim. Voluptatem, harum?
              </p>
              <button type="button" class="btn btn-outline-success">
                <a href="" target="_blank">Leia Mais</a>
            </button>
            </div>
          </div> <!-- fecha terceiro card -->
    
          <div class="card">
            <img class="card-img-top" src="assets/Ice cream seller-amico.png">
            <div class="card-body"><h5>Vídeos</h5>
              <p class="card-text"> 
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, molestiae soluta consequuntur rem perferendis
                perspiciatis explicabo numquam maiores asperiores, fugiat atque nihil, itaque natus repellat animi
                exercitationem enim. Voluptatem, harum?
              </p>
              <button type="button" class="btn btn-outline-success">
                <a href="" target="_blank">Assista Mais</a>
            </button>
            </div>
          </div> <!-- fecha quarto card -->
    
          <!--abre ADSs-->
    
          <div class="w3-third w3-container">
            <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
            <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
          </div>
<app-rodape></app-rodape>